<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <h2>Sign up</h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email,
        required: true,
        autofocus: true,
        input_html: { autocomplete: "email" }%>
        <%= f.input :name,
        required: true,
        input_html: { autocomplete: "new user" } %>
        <%= f.input :password,
        required: true,
        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
        input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
        required: true,
        input_html: { autocomplete: "new-password" } %>
        <%= f.input :job_title,
        required: true,
        input_html: { autocomplete: "job title" } %>
        <%= f.input :location, collection: User::COUNTRIES,
        required: true,
        input_html: { autocomplete: "location" } %>
        <%= f.association :industry,
        #label -> what users will see
        #value -> what user option will send to the controller
        value_method: :id,
        label_method: :industry_name,
        required: true,
        input_html: { autocomplete: "industry" } %>
        <%= f.input :description,
        required: true,
        input_html: { autocomplete: "description" } %>
        <%= f.input :experience_years,
        required: true,
        input_html: { autocomplete: "years of experience" } %>
        <%= f.input :education,
        required: true,
        input_html: { autocomplete: "education" } %>
        <%= f.input :photo, as: :file %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Sign up" %>
      </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
