<div class="container-fluid d-flex align-items-center" id="user-profile-top">
    <div class="container pt-4 d-flex justify-content-left align-items-center">
        <div class="description-wrapper mr-3">
            <img class= "avatar-large" src="https://images.unsplash.com/photo-1558898479-33c0057a5d12?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80">
            <p class="text-center">Rating:</p>
        </div>
        <div class="profile">
            <h3><%= @user.name %></h3>
            <i class="fas fa-map-marker-alt"></i> <%= @user.location %>
            <h4><%= @user.job_title %></h4>
            <p>Works in the <%= @user.industry.industry_name %> industry</p>
        </div>
    </div>
</div>

<div class="container pt-4">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">Profile</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="mentor-tab" data-toggle="tab" href="#mentor" role="tab" aria-controls="mentor" aria-selected="false">Mentors</a>
    </li>
    </ul>
    <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active mt-3" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="row" id="user-profile-content">
            <div class="col-8">
                <h3>More about me:</h3>
                <p><%= @user.description %></p>
            </div>
            <div class="col">
                <h3>Education</h3>
                <p><%= @user.education %></p>
            </div>
        </div>
    </div>
    <div class="tab-pane fade mt-3" id="mentor" role="tabpanel" aria-labelledby="mentor-tab">...</div>
    </div>
</div>