<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <img src= <%= asset_path 'logo(1).png' %> alt="">
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <%# <li class="nav-item active">
          <%= link_to "Home", "#", class: "nav-link btn btn-primary" %>
        <%# </li> %>
        <% if Mentor.exists?(user_id: current_user.id) == false %>
        <li>
          <%= link_to 'Become a Mentor', new_mentor_path, class: "btn btn-primary" %>
        </li>
        <% end %>
        <li class="nav-item">
          <%= link_to myprofile_path do %>
            <% if current_user.photo.attached? %>
              <%= cl_image_tag current_user.photo.key, class: "avatar"%>
            <% else %>
              <%= cl_image_tag("https://iupac.org/wp-content/uploads/2018/05/default-avatar.png", width: 42, height: 42) %>
            <% end %>
          <% end %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link btn btn-primary" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
