 <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1559807232-7adaa1c756b7?ixlib=rb-1.2.1&auto=format&fit=crop&w=3450&q=80);">
  <div class="container">
    <h1>Find the right mentor for you</h1>
    <p>Launch your career with the guidance you need.</p>
  </div>
</div>
<div class="container d-flex justify-content-center align-items-center" id="filter-bar">
  <%= render 'filter_bar' %>
</div>

<div class="container text-center">
  <% if @mentors.empty? %>
  <p>Sorry, we don't have a mentor you're looking for yet!</p>
  <% else %>
  <div class="cards">
    <% @mentors.each do |mentor| %>
      <%= link_to mentor_path(mentor), class: "text-decoration-none" do %>
      <div class="card" style="width: 18rem;">
        <% if mentor.user.photo.attached? %>
          <%= cl_image_tag mentor.user.photo.key, class: "card-img-top card-img", alt: "profile_img" %>
        <% else %>
          <%= cl_image_tag("https://iupac.org/wp-content/uploads/2018/05/default-avatar.png") %>
        <% end %>
        <div class="card-body text-left">
          <h5 class="card-title"><%= mentor.user.name %></h5>
          <div class="d-flex justify-content-between align-items-end">
            <h6 ><%= mentor.user.job_title %></h6>
            <h6><strong>$<%= mentor.hourly_rate %>/hr</strong></h6>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
  <% end %>
  </div>
</div>
