<div class="container pt-4">
  <div class="profile-banner">
    <div>
      <img class="avatar-large pb-3" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
      <p class="text-center">Rating:</p>
    </div>
    <div class="pl-5">
      <h4><%= @mentor.user.name %></h4>
      <h5><%= @mentor.user.job_title %></h5>
      <p><%= @mentor.user.description %></p>
      <p><%= @mentor.user.location %></p>
    </div>
  </div>
</div>
<div class="more-info">
  <div class="profile-display">

    <h6><strong>profile</strong></h6>
    <h6><strong>bookings</strong></h6>
  </div>
  <div class="profile-display ">
    <div class="info-text">
      <h3>About Me</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
       Morbi sit amet malesuada nulla. Proin in tellus eget ante lobortis finibus quis ornare augue.
       In odio urna, dapibus in nisl et, volutpat blandit mauris. Proin consequat sollicitudin semper.
       Donec quis erat lacus. Maecenas hendrerit risus et dictum semper. Nunc et enim eros. Aenean vitae elit vitae nisi dictum semper.
       Sed quis sem sem. Morbi volutpat ultrices nulla at ullamcorper. Nullam diam elit, vulputate nec ante nec, blandit dapibus nibh.
       Quisque semper dolor id risus efficitur egestas. Morbi viverra tellus vitae nunc sollicitudin, at tincidunt mi interdum.
     Fusce ornare interdum ultricies. Pellentesque.</p>
   </div>
   <div class="info-text">
     <h3>Education</h3>
     <%= @mentor.user.education %>
   </div>
 </div>
</div>
